<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<body>
    <form action="/create/dojo" method="post">
        <h1>New Dojo</h1>
        <label for ="name">Name</label>
        <input type="text" name="name">
        <input type="Submit" value="New Dojo">
        <h2>All Dojos</h2>
    
    </form>
    <a href="/ninjas">Add Ninja</a> 
</body>
</html>